 <section id="city" class="container">
    <h1>Todas las ciudades</h1>
    {{#each city}}
        <div class="city">
      <h3>{{Name}}</h3>
      <p>ID:{{DI}}</p>
      <ul>
        <li>Population: <input type="text" name="nombre" value={{Population}}></li>
        <li><a href="/delete/{{DI}}" class="btn btn-danger">Eliminar</a></li>
      </ul>
      <div class="tech">
        <small>District: <input type="text" name="nombre" value={{District}}></small>
      </div>
        </div>

        {{else}}
        <p>ninguna ciudad en la base de datos</p>


    {{/each}}
    
    
  </section>